/**
 * Test: Archetype-c-zindex
 *
 */
/**
 * Archetype Page Component
 *
 * simple function to retrieve zindex value ($z) from $zindex map
 * $zinex set in `_c-zindex.scss`
 *
 * Gist: http://sassmeister.com/gist/7e097539fb84c5494b97
 *
 * source: http://css-tricks.com/handling-z-index/
 * see also: http://www.smashingmagazine.com/2014/06/12/sassy-z-index-management-for-complex-layouts/
 */
/**
 * Component Constructor
 *
 * Used to provide a means for overriding default styles without redundant output
 * Allows for the component to be package managed with a tool like bower
 * without being tied to its predefined styles/settings for unit testing
 *
 * Sass v3.3.2 (Maptastic Maple)
 * Compass (v1.0.0.alpha.19)
 *
 * 1. Component Constructor takes arguments, $map, and $key(s)
 * 2. Loop over $map and find properties and values
 * 3. Output 'property: value;'
 * 4. Account for nested maps
 *
 */
/**
 * Deep Get (from Susy2)
 * 
 * Return a value deep in nested maps
 * https://github.com/ericam/susy/blob/master/sass/susy/math/su/_maps.scss
 */
/** 
 * Name Spaced Wrapper for Archetype
 */
/**
 * Archetype Page Component
 *
 * source: http://css-tricks.com/handling-z-index/
 */
/**
 * example test class
 */
/* line 11, ../sass/zindex.scss */
.test__c-zindex--red {
  position: relative;
  z-index: 9000;
}

/* line 16, ../sass/zindex.scss */
.test__c-zindex--blue {
  position: relative;
  z-index: 7000;
}

/* line 21, ../sass/zindex.scss */
.test__c-zindex--green {
  position: relative;
  z-index: 6000;
}

/* line 26, ../sass/zindex.scss */
.test__c-zindex--yellow {
  position: relative;
  z-index: 5000;
}
